---
layout: default
---
<div class="about-page">
    <div class="container mt-5">
        <div class="row align-items-start">
            <!-- Left Column -->
            <div class="col-md-4 text-center">
                <img src="{{ site.baseurl }}/assets/img/JCC.JPG" alt="Profile Picture" class="img-fluid rounded-circle profile-pic">
                <h2>{{ site.first_name }} {{ site.last_name }}</h2>
                <p>{{ page.subtitle }}</p>
                <p>
                    <i class="fas fa-map-marker-alt"></i> London, UK <br>
                    <i class="fas fa-briefcase"></i> King's College London <br>
                    <i class="fas fa-graduation-cap"></i>
                    <a href="https://scholar.google.com">Google Scholar</a>
                </p>
            </div>

            <!-- Right Column -->
            <div class="col-md-8">
                <article>
                    <header class="post-header">
                        <h2>About Me</h2>
                    </header>
                    <div class="post-content">
                        {{ content }}
                    </div>
                    
                    {% if page.selected_papers %}
                      <h2>Selected Publications</h2>
                      {% include selected_papers.liquid %}
                      <p>
                        <center>
                          <div id="clustrmaps-widget" style="width:100px">
                            <script type="text/javascript" id="clstr_globe" src="//clustrmaps.com/globe.js?d=6S1_klH-6jQahJbFleG831JfFePX1Gl-D1JUcSLZYOE"></script>
                          </div>
                        </center>
                      </p>
                    {% endif %}
                </article>
            </div>
        </div>
    </div>
</div>
